.filter {
    padding-top: 93px;
    padding-bottom: 50px;

    .filter-title {
        margin-bottom: 0;
    }
    
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0px;
}

.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.filter-modal-btn {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-theme-light;

    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    display: block;

    border: 1px solid transparent;
    border-radius: 4px;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $accent-color-blu-fone;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}