.team {
    background-color: $secondary-background-color;
    padding-top: 94px;
    padding-bottom: 94px;

    .team-list {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.team-title-item {
    background-color: $main-backgroud-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
        margin-right: 30px;
    }

    .team-member-photo {
        margin-bottom: 30px;
    }
}

.team-member-name,
.team-member-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-theme-light;
}

.team-member-position {
    font-weight: 400;
    color: $secondary-color;
    margin-top: 0;
    margin-bottom: 16px;
}

.social-icons-list {
    display: flex;
    justify-content: center;
}

.social-icons-item:not(:last-child) {
    margin-right: 10px;
    padding-bottom: 24px;
}

.social-icons-link {
    color: $clients-icon-links;

    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: $clients-icon-links;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus,
.social-footer .social-icons-link:hover,
.social-footer .social-icons-link:focus {
    background-color: $accent-color;
}   

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg,
.social-footer .social-icons-link:hover .social-icons-svg,
.social-footer .social-icons-link:focus .social-icons-svg {
    fill: $accent-color-blu-fone;
}

.social-icons-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}