
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$logo-color-theme-light: #000000;
$logo-color-theme-dark: #ffffff;
$main-color-theme-light: #212121;
$main-color-theme-dark:  #ffffff;
$secondary-color: #757575;
$transparent-text: rgba(255, 255, 255, 0.6);
$accent-color: #2196F3;
$accent-color-blu-fone:#ffffff;
$main-backgroud-color: #ffffff;
$secondary-background-color: #F5F4FA;
$clients-icon-links: #AFB1B8;
